/* 기본 스타일 */
.cursor {
  position: absolute;
  z-index: 9999;
}
.cursor img{
  width: 50px;
  height: 50px;
}
/* 페이지 스타일 */
.page {
  height: 100vh; /* 전체 뷰포트 높이 */
  width: 100vw; /* 전체 뷰포트 너비 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  position: relative; /* 요소의 위치를 부모 요소에 상대적으로 설정 */
  margin: 0;
  overflow: hidden; /* 페이지 내부 스크롤 제거 */
  scroll-snap-align: start; /* 스크롤 정렬 방식 설정 */
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* 전체 페이지 스크롤을 제거 */
}

main {
  height: 100vh; /* 전체 화면 높이 */
  width: 100vw; /* 전체 화면 너비 */
  overflow-y: scroll; /* 세로 스크롤 허용 */
  scroll-snap-type: y mandatory; /* 세로 방향으로 스크롤 스냅 */
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* 전체 페이지 스크롤을 제거 */
}

/* 각 페이지 배경색 */
#page1 {
  background-color: #e6e4dd;
}


#page2 {
  background-color: #fbf5f3;
  overflow-x: auto; /* 가로 스크롤 허용 */
  white-space: nowrap; /* 콘텐츠가 가로로 나열되도록 설정 */
}

#page2 .horizontal-scroll__wrapper {
  display: inline-flex; /* 수평으로 콘텐츠를 정렬 */
}

#page2 .horizontal-scroll__wrapper .about_item {
  display: inline-block; /* 수평으로 나열되도록 설정 */
  margin-right: 20px; /* 항목 사이의 간격 */
}

#page3 {
  background-color: #edecea;
}

#page4 {
  background-color: #a0b8e3;
  /* height: max-content; */
}

#page5 {
  background-color: #5487ea;
}
#page6 {
  background-color: #5487ea;
  height: 300px;
}

/* 추가 스타일 */
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh; /* 전체 화면 높이 */
  width: 100vw; /* 전체 화면 너비 */
  overflow: hidden; /* 스크롤 숨기기 */
}

